<ion-view>
<ion-header-bar class="bar bar-light"> 
  <span class="title">Accueil</span>
</ion-header-bar>
<ion-content>
<nav>

<button class="button button-block" type="button" value="lines" ng-click="goToLines()">Lignes de transports</button>
<button class="button button-block" type="button" value="preferences" ng-click="goToPreferences()">Préférences</button>
<button class="button button-block" type="button" value="about" ng-click="goToAbout()">about</button>


</nav>
</ion-content>
</ion-view>
